$mainColor: #e7205b;
$textColor: #000000;
$grey: #c8c8c8;
$margin: 50px;
$marginSide: 0px 25px;
$marginTop: 25px 0;

* {
    transition: 200ms all;
    padding: 0; 
}

.brandBig{
    display: block; 
}
.brandSmall{
    display: none;
    max-height: 40px;
}


.response__form {
    margin: $marginTop;
    align-self: flex-start;
}
*:focus {
    outline: none;
}
textarea {
    border: none;
}

button {
    cursor: pointer;
}

picture {
    z-index: -1;
    position: relative;
}

.menu__mobile {
    display: none;
}

.menu__desktop {
    display: flex;
}

svg {
    width: 200px;
    position: relative;
    top: 3px;
    z-index: 9999;
}

.home__event__ {
    .atelier__description {
        max-height: 0;
        opacity: 0;
    }
    .atelier__title {
        color: $grey !important;
    }
    .atelier__card:hover .atelier__title {
        color: $mainColor !important;
    }
    .atelier__card:hover .atelier__description {
        max-height: 1000px;
        opacity: 1;
        transition: 1s;
    }
}

/* NAV BUTTON */ 

#nav-icon {
    display: none;
    z-index: 9999;
    width: 40px;
    height: 25px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  #nav-icon span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #fff;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

#nav-icon span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
    top: 13px;
  }
  
  #nav-icon span:nth-child(4) {
    top: 26px;
  }
  
  #nav-icon.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
  #nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #nav-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

/* ------ FORM & INPUTS ------- */

form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 2;
    justify-content: center;
    position: relative;
}
.input-group {
    display: block;
    width: 47%;
    max-width: 100%;
    height: 82px;
    border: 0;
    background-color: #ffffff;
    box-shadow: 0 17px 40px 0 rgba(75, 128, 182, 0.07);
    position: relative;
    font-size: 17px;
    transition: opacity 0.2s ease-in-out, filter 0.2s ease-in-out, box-shadow 0.1s ease-in-out;
}

.input-group:hover {
    box-shadow: 0 14px 44px 0 rgba(0, 0, 0, 0.077);
}

.input-group input {
    position: absolute;
    border: 0;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0);
    top: 0;
    height: 65px;
    width: 100%;
    padding: 0 53px;
    box-sizing: border-box;
    z-index: 3;
    display: block;
    color: #000;
    font-size: 17px;
    font-family: "Oxygen", sans-serif;
    transition: top 0.1s ease-in-out;
}

.input-group input::placeholder {
    color: rgba(0, 0, 0, 0);
}

.input-group input:focus,
.input-group input:not(:placeholder-shown) {
    top: 17px;
}

.input-group label {
    position: absolute;
    border: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    padding: 0 53px;
    box-sizing: border-box;
    transition: all 0.1s ease-in-out;
    cursor: text;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
    bottom: 30px;
    font-size: 16px;
    opacity: 0.7;
}

form {
    .contactform__message__textarea:hover {
        box-shadow: 0 14px 44px 0 rgba(0, 0, 0, 0.077);
    }
    .contactform__message__textarea {
        box-shadow: 0 17px 40px 0 rgba(75, 128, 182, 0.07);
        width: 100%;
        padding: 50px;
        label {
            font-size: 16px;
        }
        textarea {
            width: 100%;
            height: 200px;
        }
    }
    display: flex;
    flex-wrap: wrap;
    div {
        margin: 15px;
    }
}

/* ------ WEBSITE ------- */

body {
    header {
        position: relative;
        padding: 0 50px;
        height: 40px;
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        nav {
            a {
                color: $textColor;
                text-decoration: none;
            }
            a:hover {
                color: #fff;
            }
            justify-content: space-between;
            font-size: 25px;
            width: 50%;
            margin-right: 25px;
        }
        p {
            width: 25%;
        }
        display: flex;
        justify-content: space-between;
    }
    main {
        flex-grow: 1;
        .home__top__content {
            margin: $margin;
            display: flex;
            justify-content: space-between;
            .home__introduction {
                justify-content: flex-end;
                p {
                    margin-right: 25px;
                    font-size: 20px;
                    line-height: 26px;
                    width: 50%;
                }
                display: flex;
                align-items: flex-end;
                div {
                    display: flex;
                    flex-direction: column;
                }
            }
            h1 {
                width: 75%;
            }
            p {
                align-self: flex-end;
            }
        }
    }
    .testimonial__list {
        .testimonial__item {
            margin: 0 auto;
            width: 50%;
            .testimonial__item__name {
                margin: $marginTop;
            }
        }
        color: $mainColor;
        text-align: center;
        font-size: 30px;
        line-height: 36px;
        .carousel {
            .carousel-status {
                display: none;
            }
            .control-next.control-arrow::before {
                border-left: 8px solid #000;
            }
            .control-prev.control-arrow::before {
                border-right: 8px solid #000;
            }
            .slide {
                background-color: transparent;
            }
            .control-dots {
                display: none;
            }
        }
        .testimonial__item__name {
            color: $textColor;
            font-size: 20px;
        }
    }
    .marquee {
        padding: 8px;
        font-size: 18px;
        background-color: $grey;
        color: #fff;
        display: flex;
        align-items: center;
    }
    h1 {
        font-size: 70px;
        line-height: 75px;
    }
    .services {
        div:hover h3 {
            color: $mainColor;
        }
        display: flex;
        font-size: 30px;
        line-height: 36px;
        .services__services,
        .services__workshop {
            text-align: right;
        }
        h3 {
            margin: 25px 0 0 0;
        }
        div {
            padding: 50px;
        }
    }
    .home__event__ {
        margin: $margin;
        h4 {
            font-weight: 300;
            margin: $marginTop;
        }
    }
    .atelier__card {
        .atelier__card__content {
            .atelier__card__mainContent {
            }
        }
        display: flex;
        .date {
            margin: 0 0 15px 0;
            color: $mainColor;
            font-size: 30px;
        }
        .date2 {
            color: $grey;
        }
        .atelier__card__buttons {
        }
    }
    .gatsby-image-wrapper {
        width: 100%;
        img {
            max-height: 700px;
            margin: $marginTop;
        }
    }
    h5 {
        font-weight: 300;
        font-size: 36px;
        margin-top: 50px;
    }
    .equipe {
        .equipe__collaborateur__container {
            margin: $marginTop;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            align-items: flex-end;
            .equipe__collaborateur__card {
                margin-right: 25px;
                width: 20%;
                .gatsby-image-wrapper {
                    margin: $marginTop;
                    img {
                        margin: 0;
                    }
                }
            }
        }
    }
    .page__content {
        display: flex;
        .page__content__main {
            width: 75%;
        }
        .page__content__margin {
            width: 25%;
            font-size: 20px;
            color: $grey;
            margin-left: 50px;
            line-height: 26px;
        }
    }
    .atelier__item {
        .atelier__type {
            color: $mainColor;
        }
    }
    .atelier__item__galerie {
        margin-top: 75px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        .gatsby-image-wrapper {
            width: 20%;
            img {
                margin: 0;
            }
        }
    }
    .atelier__item__description {
        width: 75%;
    }
    .atelier__item__content {
        .atelier__item__description__margin {
            width: 25%;
            font-size: 20px;
            color: $grey;
            margin-left: 50px;
            line-height: 26px;
        }
        .atelier__item__description {
            width: 70%;
        }
        display: flex;
    }
    .atelier__margin {
        a {
            text-align: center;
        }
    }
    font-size: 20px;
    line-height: 26px;
    .sub {
        display: flex;
        flex-direction: column;
        align-items: center;
        button {
            margin-top: 50px;
        }
    }
    .page {
        .date {
            margin: 0 0 15px 0;
            color: $mainColor;
            font-size: 30px;
        }
        .date2 {
            color: $grey;
        }
        .atelier__card__mainContent {
            margin-left: 25px;
        }
        .atelier__card__content {
            display: flex;
        }
        .atelier__item__header {
            margin-bottom: 25px;
            display: flex;
            justify-content: space-between;
            a {
                height: max-content;
            }
        }
        margin: $margin;
        h1 {
            margin-bottom: 50px;
        }
        a {
            margin: $marginTop;
            height: max-content;
        }
    }
}

.atelier {
    .title {
        font-size: 60px;
        line-height: 70px;
        color: $mainColor;
    }
    .atelier__card {
        margin-bottom: 50px;
    }
    .atelier__cards__container {
        margin: $marginTop;
    }
    .atelier__card__content {
        margin: $marginTop;
        display: flex;
        .atelier__card__mainContent {
            margin: 0 25px 25px 25px;
            .atelier__description {
                margin-top: 25px;
                width: 75%;
            }
        }
    }
    .atelier__card__buttons {
        a:hover {
            background-color: $mainColor !important;
        }
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        a {
            margin: 5px 0;
            padding: 9px 30px;
            border-radius: 5px;
            text-align: center;
            background-color: $grey;
            color: #fff;
        }
    }
}

button {
    box-shadow: none;
    margin: 5px 0;
    padding: 9px 30px;
    border-radius: 5px;
    text-align: center;
    background-color: $grey;
    color: #fff;
    border: 0;
    font-size: 30px;
}

button:hover {
    background-color: $mainColor;
    border: 0;
}

.home__introduction__button {
    padding: 9px 30px;
    background-color: $grey;
    color: #fff;
    border-radius: 5px;
    margin: 5px;
    font-size: 20px;
}

.home__introduction__button:hover {
    background-color: $mainColor;
}

header,
footer {
    background-color: $mainColor;
}
* {
    margin: 0;
    text-decoration: none;
    font-family: arial;
}
.content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

h3 {
    font-size: 20px;
}

footer {
    .footer__social {
        display: flex;
        flex-direction: column;
        a {
            color: #000;
        }
        a:hover {
            color: #fff;
        }
    }
    margin-top: 50px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    div {
        width:30%;
        padding: 25px 50px;
        box-sizing: border-box;
    }
    flex-shrink: 0;
    box-sizing: border-box;
    .title {
        color: #fff;
    }
}

.atelier__list {
    .atelier__card__buttons {
        a {
            background-color: #000 !important;
        }
    }
    .atelier__card__content {
        .atelier__title {
            color: $mainColor;
        }
    }
}

@media screen and (max-width: 1300px) {
    body header nav {
        width: 70%;
    }
}

@media screen and (max-width: 1050px) {
    .menu__mobile {
        display: flex;
    }
    #nav-icon{
        display: block;
    }
    body {
        .testimonial__list .testimonial__item{
            width: 80%;
        }
        header{
            height: 60px;
        }
        .atelier__card{
            flex-direction: column;
            margin-bottom: 25px;
            .atelier__card__content{
                margin-bottom: 0;
                .atelier__card__mainContent{
                    margin-bottom: 0;
                }
            }
        }
        .atelier__item__content {
            flex-direction: column;
            .atelier__item__description {
                width: 100%;
            }
            .atelier__item__description__margin {
                margin: 25px 0 0 0;
                width: 100%;
            }
        }
        .atelier__item__galerie {
            margin-top: 75px;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            .gatsby-image-wrapper {
                width: 33.33%;
                img {
                    margin: 0;
                }
            }
        }
    }

    form {
        width: 100%;
        .input-group {
            width: 100%;
        }
    }

    .menu__desktop {
        display: none;
    }
    body header nav {
        z-index: 9000 !important;
        position: absolute;
        width: 100%;
        background-color: $mainColor;
        top: 0;
        left: 0;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        a {
            font-size: 36px;
            line-height: 52px;
        }
    }
    body .services {
        flex-direction: column;
    }
    body main .home__top__content {
        flex-direction: column;
    }
    body main .home__top__content .home__introduction {
        justify-content: flex-start;
        margin-top: 25px;
    }
    body .services div {
        padding: 25px 50px;
    }
    footer {
        flex-direction: column;
        div {
            width: 100%;
        }
    }
    body .page__content {
        flex-direction: column;
        .page__content__margin {
            order: -1;
            width: 100%;
            margin: 0;
            margin-bottom: 25px;
        }
    }
    body .page__content .page__content__main {
        width: 100%;
    }
    .atelier .atelier__card__content .atelier__card__mainContent .atelier__description {
        width: 100%;
    }
}

@media screen and (max-width: 565px) {
    .brandBig{
        display: none; 
    }
    .brandSmall{
        display: block;
        width: auto;
    }

    body {
        .page{
            margin: 15px
        }
        font-size: 16px;
        line-height: 22px;
        .atelier .atelier__card__buttons {
            margin-top: 15px;
        }
        .equipe .equipe__collaborateur__container .equipe__collaborateur__card{
            width: 100%;
        }
    }
    body .page .atelier__item__header {
        flex-direction: column;
    }

    body main .home__top__content h1 {
        width: 100%;
        font-size: calc(60px * 0.80);
        line-height: calc(65px *0.80);
    }
    body .atelier__card {
        flex-direction: column;
    }
    .atelier__description {
    }
    .atelier .atelier__card__buttons {
        margin: -15px 0 25px 0;
    }
    .atelier .atelier__card__content .atelier__card__mainContent {
        margin: 0 15px 0px 15px;
    }
    body .testimonial__list .testimonial__item {
        width: 75%;
    }



    
body {
    header {
        height: 60px;
        margin-bottom: 15px;
        svg{
            display: none
        }
        nav {
            a {
            }
            a:hover {
            }
            font-size: calc(25px *  0.8);
        }
        p {
            width: 25%;
        }
    }
    main {
        flex-grow: 1;
        .home__top__content {
            margin: 25px;
            .home__introduction {
                p {
                    margin-right: 15px;
                    font-size: calc(20px *0.8);
                    line-height: calc(26px * 0.8);
                }
            }
        }
    }
    .testimonial__list {
        .testimonial__item {
            margin: 0 auto;
            width: 50%;
            .testimonial__item__name {
                margin: 25px;
            }
        }
        font-size: calc(30px* 0.8);
        line-height: calc(36px * 0.8);
    }
    .marquee {
        padding: 8px;
        font-size: calc(18px * 0.8);
    }
    h1 {
        font-size: calc(70px * 0.8);
        line-height: calc(75px * 0.8);
    }
    .services {
        font-size: calc(30px * 0.8);
        line-height: calc(36px * 0.8);
        h3 {
            margin: 15px 0 0 0;
    }
    .home__event__ {
        margin: $margin;
        h4 {
            font-weight: 300;
            margin: 25px;
        }
    }
    .atelier__card {
        .atelier__card__content {
            .atelier__card__mainContent {
            }
        }
        .date {
            margin: 0 0 15px 0;
            font-size: calc(30px * 0.8);
        }
    }
    .gatsby-image-wrapper {
        width: 100%;
        img {
            max-height: 700px;
            margin: 25px;
        }
    }
    h5 {
        font-weight: 300;
        font-size: calc(36px * 0.8);
        margin-top: 25px;
    }
    .equipe {
        .equipe__collaborateur__container {
            margin: 25px;
            .equipe__collaborateur__card {
                .gatsby-image-wrapper {
                    margin: 25px;
                    img {
                        margin: 0;
                    }
                }
            }
        }
    }
    .page__content {
        .page__content__main {
            width: 75%;
        }
        .page__content__margin {
            font-size: calc(20px * 0.8);
            margin-left: 25px;
            line-height: 26px;
        }
    }
    .atelier__item__galerie {
        margin-top: 35px;
        width: 100%;
        .gatsby-image-wrapper {
            width: 20%;
            img {
                margin: 0;
            }
        }
    }
    .atelier__item__description {
        width: 75%;
    }
    .atelier__item__content {
        .atelier__item__description__margin {
            width: 25%;
            font-size: calc(20px * 0.8);
            margin-left: 25px;
            line-height: calc(26px * 0.8);
        }
        .atelier__item__description {
            width: 70%;
        }
    }
    font-size: calc(20px * 0.8);
    line-height: calc(26px * 0.8);
    .sub {
        button {
            margin-top: 25px;
        }
    }
    .page {
        .date {
            margin: 0 0 15px 0;
            font-size: calc(30px * 0.8);
        }
        .atelier__card__mainContent {
            margin-left: 15px;
        }
        .atelier__item__header {
            margin-bottom: 15px;
            display: flex;
        }
        margin: $margin;
        h1 {
            margin-bottom: 25px;
        }
        a {
            margin: 25px;
            height: max-content;
        }
    }
}

.atelier {
    .title {
        font-size: calc(60px * 0.8);
        line-height: calc(70px * 0.8);
    }
    .atelier__card {
        margin-bottom: 25px;
    }
    .atelier__cards__container {
        margin: 25px;
    }
    .atelier__card__content {
        margin: 25px;
        .atelier__card__mainContent {
            margin: 0 15x 15px 15px;
            .atelier__description {
                margin-top: 15px;
                width: 75%;
            }
        }
    }
    .atelier__card__buttons {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        a {
            margin: 5px 0;
            padding: 9px 30px;
        }
    }
}

button {
    margin: 5px 0;
    padding: 9px 30px;
    font-size: calc(30px * 0.8);
}

.home__introduction__button {
    padding: 9px 30px;
    margin: 5px;
    font-size: calc(20px * 0.8);
}

h3 {
    font-size: calc(20px * 0.8);
}

footer {
    margin-top: 25px;
    div {
        width:100%;
        padding: 15px 25px;
    }
}

.atelier__description {
    width: 110% !important;
    margin-left: -50px;
}
}
body .home__event__ {
    margin: 25px
}

body main .home__top__content .home__introduction{
    align-items: flex-start;
    flex-direction: column;
    div{
        margin-top: 15px;
        margin-left: -5px;
    }
    p{
        align-self: flex-start;
    }
}

body .atelier .atelier__cards__container, body .atelier .atelier__card__content{
    margin: 0;
}

body main .home__top__content .home__introduction p{
    width: 100%;
}
body .services div{
    padding: 15px 25px;
}
}
